* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-image: url(img/mv.jpg);
  background-size: cover;
  background-position: bottom;
  height: 400px;
}

.sarvis {
  color: darkgrey;
  padding: 20px 20px;
}

main {
  width: 840px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 50px;
}

.blog-box {
  width: 840px;
}

.main-contents {
  border-bottom: 1px solid darkgrey;
  padding-bottom: 30px;
  padding-top: 30px;
}
